<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all">
  <title>Dropdown List using JavaScript</title>
</head>
<body id="body">
  <div id="layout">
    <!-- ヘッダー -->
    <header class="header">
      <div class="header-inner">
        <a href="/" class="header_title">
          <img src="/image/logo5.png" class="header_title">
        </a>
      </div>
    </header>
    <!-- トップメッセージ -->
    <section class="home">
      <div class="home_hero">
        <div class="scroll-infinity">
          <div class="top-message-container">
            <p class="top-message">登山に必要な<span class="water">水</span>の量がわかる。</p>
          </div>
          <div class="scroll-infinity__wrap">
            <ul class="scroll-infinity__list scroll-infinity__list--left">
              <li class="image"><img src="/image/neom-DYeC76MQ46o-unsplash.jpg" /></li>
              <li class="image"><img src="/image/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg" /></li>
              <li class="image"><img src="/image/krisjanis-mezulis-__E07WwlywA-unsplash.jpg" /></li>
              <li class="image"><img src="/image/leo_visions-6E6oMx-69Ns-unsplash.jpg" /></li>
              <li class="image"><img src="/image/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg" /></li>
              <li class="image"><img src="/image/todd-diemer-fpNBYsymggk-unsplash.jpg" /></li>
            </ul>
            <ul class="scroll-infinity__list scroll-infinity__list--left">
              <li class="image"><img src="/image/neom-DYeC76MQ46o-unsplash.jpg" /></li>
              <li class="image"><img src="/image/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg" /></li>
              <li class="image"><img src="/image/krisjanis-mezulis-__E07WwlywA-unsplash.jpg" /></li>
              <li class="image"><img src="/image/leo_visions-6E6oMx-69Ns-unsplash.jpg" /></li>
              <li class="image"><img src="/image/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg" /></li>
              <li class="image"><img src="/image/todd-diemer-fpNBYsymggk-unsplash.jpg" /></li>            </ul>
          </div>
        </div>
      </div>
      <!-- アプリの説明 -->
      <div class="home_body">
        <div class="calculate_button_wrap">
          <a href="/form" class="calculate_button">試してみる</a>
          <p class="button_supple">ログイン不要ですぐ利用できます。</p>
        </div>
        <div class="top_feature_heading">
          <h2 class="top_feature_title">できること</h2>
        </div>
        <div class="top_feature">
          <!-- 説明① -->
          <div class="top_feature_item">
            <div class="top_feature_item_body">
              <h3 class="top_feature_item_title">
                適切な水分量を把握できる
              </h3>
              <div class="top_feature_item_image_box">
                <img src="/image/toppage_ilust_004.png" alt="">
              </div>
              <p class="top_feature_item_explain">
                このアプリは、あなたの体力と登山コースからあなたに必要な水分量を計算するツールです。曖昧だった水分量を可視化し、登山中の健康と安全をサポートします。
              </p>
            </div>
          </div>
          <!-- 説明② -->
          <div class="top_feature_item">
            <div class="top_feature_item_body">
              <h3 class="top_feature_item_title">
                荷物を減らせる
              </h3>
              <div class="top_feature_item_image_box">
                <img src="/image/toppage_ilust_003.png" alt="">
              </div>
              <p class="top_feature_item_explain">様々なトラブルに備え、たくさんの食料や備品をザックに入れるとかえって動きにくくなってしまうことも。適切な水分量を把握することで、荷物の量を減らし、快適な登山が可能になります。</p>
            </div>
          </div>
        </div>
        <!-- 使い方の説明 -->
        <div class="tutorial_heading">
          <h2 class="tutorial_title_name">使い方</h2>
          <p class="tutorial_explain">このアプリは、登山中に必要な水分量を計算するツールです。</p>
        </div>
        <div class="tutorial_canvas">
          <div class="tutorial_canvas_body">
            <div class="tutorial_num">①</div>
            <div class="tutorial_item">
              <h3>あなたの情報を入力しましょう。</h3>
            </div>
            <div class="tutorial_video_wrap">
              <div class="tutorial_video">
                <video autoplay="autoplay" playsinline loop="loop" muted="muted" class="tutorial_video_item" src="/video/sample1.mov"></video>
              </div>
            </div>
          </div>
          <div class="tutorial_canvas_body">
            <div class="tutorial_num">②</div>
            <div class="tutorial_item">
              <h3>登りたい山を選択しましょう。</h3>
            </div>
            <div class="tutorial_video_wrap">
              <div class="tutorial_video">
                <video autoplay="autoplay" playsinline loop="loop" muted="muted" class="tutorial_video_item" src="/video/sample2.mov"></video>
              </div>
            </div>
          </div>
          <div class="tutorial_canvas_body">
            <div class="tutorial_num">③</div>
            <div class="tutorial_item">
              <h3>水分量を確認しましょう。</h3>
            </div>
            <div class="tutorial_video_wrap">
              <div class="tutorial_video">
                <video autoplay="autoplay" playsinline loop="loop" muted="muted" class="tutorial_video_item" src="/video/sample3.mov"></video>
              </div>
            </div>
          </div>
        </div>
        <div class="calculate_button_wrap">
          <a href="/form" class="calculate_button">試してみる</a>
          <p class="button_supple">ログイン不要ですぐ利用できます。</p>
        </div>
      </div>
    </section>
    <!-- フッター -->
    <footer class="footer">
      <div class="footer_top">
        <div class="links">
          <a href="/terms" class="link">利用規約</a>
          <a href="/terms/privacy" class="link">プライバシーポリシー</a>
          <a href="#" class="link">運営情報</a>
        </div>
        <div class="contact_form_wrap">
          <a href="/contact" class="contact_form_button">
              <div class="contact_form">
                <p class="contact_form_title">Contact</p>
                <p class="contact_form_subTitle">お問い合わせはこちら</p>
              </div>
          </a>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>