<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all">
  <title>Dropdown List using JavaScript</title>
</head>
<body id="body">
  <div id="layout">
    <!-- ヘッダー -->
    <header class="header">
      <div class="header-inner">
        <a href="/" class="header_title">
          <img src="/image/logo5.png" class="header_title">
        </a>
      </div>
    </header>
    <div class="terms_top_container">
      <div class="terms_container">
        <div class="terms_title">
          <h1>プライバシーポリシー</h1>
        </div>
        <div>
          <h2>はじめに</h2>
          <p>
            【サービス名】（以下「本サービス提供者」といいます。）は、本サービス提供者の提供するサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。
          </p>
          <ol>
            <li>
              <h3>収集する利用者情報及び収集方法</h3>
              <ol>
                <li>
                  ユーザーからご提供いただく情報
                </li>
                <p>
                  本サービスを利用するために、または本サービスの利用を通じてユーザーからご提供いただく情報は以下のとおりです。
                </p>
                <ul>
                  <li>
                    年齢、性別、身長、体重等プロフィールに関する情報
                  </li>
                  <li>
                    入力フォームその他本サービス提供者が定める方法を通じてユーザーが入力または送信する情報
                  </li>
                </ul>
                <li>
                  ユーザーが本サービスを利用するにあたって、本サービス提供者が収集する情報
                </li>
                <p>
                  本サービス提供者は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。これには以下の情報が含まれます。
                </p>
                <ul>
                  <li>
                    リファラ
                  </li>
                  <li>
                    IPアドレス
                  </li>
                  <li>
                    サーバーアクセスログに関する情報
                  </li>
                  <li>
                    Cookie、ADID、IDFAその他の識別子（以下「Cookie等」といいます。）
                  </li>
                  <li>
                    当社ウェブサイトの滞在時間、⼊⼒履歴、購買履歴等の当社ウェブサイトにおけるお客様の⾏動履歴
                  </li>
                </ul>
              </ol>
            </li>
            <li>
              <h3>利用目的</h3>
              <p>
                本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下のとおりです。
              </p>
              <ol>
                <li>
                  本サービスにおけるお客様の⾏動履歴を分析し、本サービスの保護や維持改善に役⽴てるため
                </li>
                <li>
                  ユーザーのトラフィック測定及び行動測定のため
                </li>
                <li>
                  ［本サービス内で表示される生成物を生成するため］
                </li>
                <li>
                  広告の配信、表示及び効果測定のため
                </li>
                <li>
                  本サービスに関するご案内、お問い合わせ等への対応のため
                </li>
                <li>
                  本サービスに関する本サービス提供者の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため
                </li>
                <li>
                  本サービスの変更、提供中止、終了や本サービスに関する規約等の変更などを通知するため
                </li>
              </ol>
            </li>
            <li>
              <h3>第三者提供</h3>
              <ol start="1">
                <li class="">
                  本サービス提供者は、利用者情報のうち、個人情報については、あらかじめユーザーの同意を得ないで、第三者に提供しません。但し、次に掲げる必要があり第三者に提供する場合はこの限りではありません。
                </li>
                <ol>
                  <li>
                    本サービス提供者が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
                  </li>
                  <li>
                    合併その他の事由による事業の承継に伴って個人情報が提供される場合
                  </li>
                  <li>
                    第3項の定めに従って、提携先または情報収集モジュール提供者へ個人情報が提供される場合
                  </li>
                  <li>
                    その他、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の法令で認められる場合
                  </li>
                </ol>
                <li>
                  本サービス提供者は、個人情報を第三者に提供したときは、記録の作成及び保存を行います。
                </li>
                <li>
                  本サービス提供者は、第三者から個人情報の提供を受けるに際しては、必要な確認を行い、当該確認にかかる記録の作成及び保存を行うものとします。
                </li>
              </ol>
            </li>
            <li>
              <h3>安全管理措置</h3>
              <ol start="1">
                <li>
                  本サービス提供者は、利用者情報の漏えい、滅失または毀損の防止その他の利用者情報の安全管理のために、必要かつ適切な措置を講じています。
                </li>
                <li>
                  本サービス提供者は、利用者情報のうち個人情報の取扱いを第三者に委託する場合には、本サービス提供者が定める委託先選定基準を満たす事業者を選定し、委託契約を締結した上で定期的に報告を受ける等の方法により、委託先事業者による個人情報の取扱いについて把握しています。
                </li>
                <li>
                  本サービス提供者が講じる安全管理措置の具体的な内容については、本プライバシーポリシーに記載の本サービス提供者のお問合せ窓口にお問い合わせください。
                </li>
              </ol>
            </li>
            <li>
              <h3>個人情報の取り扱い</h3>
              <ol start="1">
                <li>
                  本サービスは、年齢、性別、体重、身長といった個人を特定できない情報のみを取得し、ユーザーの個人アカウントの作成や詳細なプロフィールの保持を行いません。そのため、本サービスにおいては、保有する「個人データ」は存在しないか、または非常に限定的であるため、個人情報保護法に基づく「保有個人データ」の開示、訂正、削除、利用停止の請求権利が適用される範囲が異なる場合があります。
                  <br>
                  ユーザーが本サービス提供者に提供した情報に関して、開示、訂正、削除、または利用停止等の請求を希望される場合には、以下のお問い合わせ窓口までご連絡ください。ただし、当該情報が個人情報保護法の定義する「個人データ」に当たらない場合、ご希望に添えないことがございます。
                </li>
                <li>
                  利本サービスでは、基本的に個人を特定する情報を取得していないため、個人情報の開示等の請求に関して手数料を徴収することはありません。
                </li>
                <li>
                  個人情報の開示等の請求の具体的な方法については、本プライバシーポリシーに記載の本サービス提供者のお問い合わせ窓口までご連絡ください。
                </li>
              </ol>
            </li>
            <li>
              <h3>お問い合わせ窓口</h3>
              <p>
                本サービスに対するご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせは、下記の窓口までお願いいたします。
              </p>
              <p>
                代表者名：河村　康平
                <br>
                個人情報取扱責任者：河村　康平
                <br>
                メールアドレス：bank.k131@gmail.com
              </p>
            </li>
            <li>
              <h3>プライバシーポリシーの変更手続</h3>
              <p>
                本サービス提供者は、必要に応じて、本ポリシーを変更します。但し、法令上ユーザーの同意が必要となるような本ポリシーの変更を行う場合、変更後の本ポリシーは、本サービス提供者所定の方法で変更に同意したユーザーに対してのみ適用されるものとします。なお、本サービス提供者は、本ポリシーを変更する場合には、変更後の本ポリシーの施行時期及び内容を本サービス提供者のウェブサイト上での表示その他の適切な方法により周知し、またはユーザーに通知します。
              </p>
            </li>
          </ol>
          <div class="terms_day">
            <h3>【2024年3月31日制定】</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="return-to-top">
      <a href="/" class="return_top_button">トップページに戻る</a>
    </div>
  </div>
</body>