<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all">
  <title>Dropdown List using JavaScript</title>
</head>
<body id="body">
  <div id="layout">
    <!-- ヘッダー -->
    <header class="header">
      <div class="header-inner">
        <a href="/" class="header_title">
          <img src="/image/logo5.png" class="header_title">
        </a>
      </div>
    </header>
    <div class="thanks-wrap">
      <div class="thanks">
        <h1>送信が完了しました！</h1>
        <p>お問い合わせいただき、誠にありがとうございます。</p>
      </div>
      <div class="mail-info">
        <p>
          通常、お問い合わせに対する返信は、<span class="highlight">3営業日以内</span>に行われます。<br>万が一、期間内に返信がない場合は、メールアドレスの確認や迷惑メールフォルダのチェックをお願いいたします。
        </p>
      </div>
      <div class="contact-info">
        <p>
          さらにサポートが必要な場合や、ご不明な点がある場合は、いつでも<a href="/contact">お問い合わせページ</a>よりご連絡いただけます。
        </p>
      </div>
      <div class="return-to-top">
        <a href="/" class="return_top_button">トップページに戻る</a>
      </div>
    </div>
  </div>
</body>